---
layout: setup
root: .
assistant: []
contact: shlake@virginia.edu
---
<!--
    Edit the values in the parameter block above to be appropriate for your bootcamp.
    Please use three-letter month names for the 'humandate' field.
-->

<p>
  <strong>Requirements:</strong>
This workshop is hands-on, for those participants who bring in and use their own laptops, 
    please see the following instructions to download and install OpenRefine.
    
    <BR><BR>
        If you want to download the data we will be using for the workshop, check the link at the bottom of this page.
</p>


  <strong>Contact</strong>:
  Please email
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for questions and information not covered here.
</p>




<h2>Setup</h2>

<p>We encourage participants to bring and use their own laptops.
  
        <BR><BR>
    To fully participate in this workshop, 
  you will need working copies of the software described below.
  Please make sure to install everything and try opening it to make sure it works 
  <em>before</em> the start of the workshop. If you run into any problems,
please feel free to email the instructor. 

  
<p>This workshop will be using the software outlined in the install instructions below. 
Please see the section for your operating system for those directions.
<ul>
<li><a href=#windows>Windows</a>
<li><a href=#mac>Mac</a>
<li><a href=#linux>Linux</a>
</ul>  

</p>

{% include windows.html %}
{% include mac.html %}
{% include linux.html %}
            
            <h3>Download the Data File</h3>
            <P>

                
                You can download <a href="http://shlake.github.io/lc-open-refine-short/data/doaj-article-sample.xlsx">doaj-article-sample.xlsx</a>, 
                which is a xlsx file that should automatically download. You may need to right click or control click in order to save 
                the file (NOTE: In Safari, right click and select <b>download linked file</b>; in Chrome and Firefox, 
                right click and select <b>save link as</b>). Make a note of the location (i.e the folder, your desktop) 
                to which you save the file.
            </P>

